.timer-container {
  position: relative;
  width: 1000px; 
  height: 1000px; 
  display: flex; /* Use flexbox for centering */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.timer-ring {
  position: absolute; /* Position the SVG absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#countdown-display {
  position: relative; /* Keep text within the flow or use absolute if needed */
  z-index: 1; /* Ensure text is above the SVG ring */
  font-size: 2em; /* Adjust font size as desired */
  color: white; /* Set text color */
}
*{
    font-family: Raleway;
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: black;
}



.timer-background {
    fill: none;
    stroke: rgba(225, 225, 225, 0.1);
    stroke-width: 0.5px;
}
.timer-progress {
    fill: none;
    stroke: white; /* Color of the progress ring */
    stroke-width: 0.5px;
    stroke-linecap: round;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
    transition: stroke-dashoffset 1s linear; /* Smooth animation */
}
#countdown-display p{
    color: white;
    
}